:root{
    --main-font: Helvetica, Arial;
    --brand-color: #369;
    /*custom properties, or css variables, must be defined in a declaration block
      and must begin with double hyphen
     */
}
p{
    font-family: var(--main-font, sans-serif);
    color: var(--brand-color, black);
    background-color: var(--some-color, yellow);
    /*to use custom properties, you must use the var() function which takes two arguments:
      the custom property and a fallback value
     */
}