:root{ /*applies to all screens*/
    font-size: 0.75em;
}
@media (min-width: 800px) {/*applies to screens 800px and wider, and overrides the original base font-size*/
    :root{
        font-size: 0.875em;
    }
}
@media (min-width: 1200px){ /*applies to screens 1200px and wider, overriding the previous two styles*/
    :root{
        font-size: 1em;
    }
}
.panel{
    padding: 1em; /*relative to local <div> font-size 14px inherited from the root element*/
    border-radius: 0.5em;/*relative to local <div> font-size 14px inherited from the root element*/
    border: 1px solid black;
}
.panel > h2{
    margin-top: 0;
    font-size: 0.8rem;/*relative to the ROOT <html> font-size of 14px*/
    font-weight: bold;
    text-transform: uppercase;
}