:root{
    font-size: 0.875em;
}
.panel{
    padding: 1em; /*relative to local <div> font-size 14px inherited from the root element*/
    border-radius: 0.5em;/*relative to local <div> font-size 14px inherited from the root element*/
    border: 1px solid black;
}
.panel > h2{
    margin-top: 0;
    font-size: 0.8rem;/*relative to the ROOT <html> font-size of 14px*/
    font-weight: bold;
    text-transform: uppercase;
}