:root{
    font-size: calc(0.5em + 1vw); /*the 1vw adds a responsive scalar to the base font*/
}
.panel{
    font-size: 1rem; /*establishes predictable font-size for div component*/
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid black;
}
.panel > h2{
    margin-top: 0;
    font-size: 0.8em;/*now relative to the established parent font-size*/
    font-weight: bold;
    text-transform: uppercase;
}
.panel.large{
    font-size: 1.2rem; /*changes font-size of div component rescaling the whole component*/
}