:root{ /*:root psuedo-class selector is equivalent to html type selector but with the specificity
        priority of a class*/
    font-size: 1em; /*inherits from browser's default font-size of 16px. Thus the computed value is 16px*/
}
.slogan{
    font-size: 1.2rem; /*evaluates to 19.2px -- 1.2 times the root font size of 16px. Rem stands
                        for ROOT em, and 1 rem is equivalent to the current font-size of the root element*/
    padding: 1.2em; /*evaluates to 23.04px -- 1.2 times its local font size of 19.2px*/
    /*even though the font-size and padding properties have the same cascaded value of 1.2em, their
    computed values are different
     */
    background-color: #ccc;
}