:root{
    box-sizing: border-box;
    font-size: 1em;
    --bg-color1: #eee;
    --bg-color2: #fff;
}
*, ::before, ::after{
    box-sizing: inherit;
}
body{
    background-color: var(--bg-color1);
    font-family: Helvetica, Arial, sans-serif;
}
header{
    color: var(--bg-color2);
    background-color: #0072b0;
    border-radius: 0.5em;
}
main{
    display: block;
}
.container{
    display: table; /*makes container layout resemble a table*/
    width: 100%; /*Makes the table fill it's parent container width*/
}
.main{
    display: table-cell; /*makes column layout mimic table cells*/
    width: 70%;
    background-color: var(--bg-color2);
    border-radius: 0.5em;
}
.sidebar{
    display: table-cell; /*makes column layout mimic table cells*/
    width: calc(30% - 1.5em);
    margin-left: 1.5em; /*margin no longer works*/
    padding: 1.5em;
    background-color: var(--bg-color2);
    border-radius: 0.5em;
}